<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">
  <div class="container">
    <h1>PokéBoss</h1>
		<!-- Search -->
		<div ng-controller="c1">
      ID : <input type="text" id="id" ng-model="id">
		  </br></br>
		  Nom pokémon : <input type="text" id="nom" ng-model="nom">
      <select ng-model="nom">
        <option ng-repeat="pokemon in (myBestTeamPokemon | filter:id | filter:nom)" value="{{pokemon.name}}">
          {{pokemon.name}}
        </option>
      </select>
      </br>
			<button type="button" ng-click="$log.log(nom)">
				GO
			</button>
		</div>

		<!-- Pokémon information -->
		<div></div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>
</body>
</html>